:root {
	font-family: Papyrus;
	line-height: 0;
	font-weight: 21;
	background-image: url(./src/assets/suns3.svg);
	background-repeat: repeat;
	background-size: cover;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	font-synthesis: 100;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 120%;
}

body {
	margin: 0;
}

bounce {
	animation-name: zotwave_title;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	position: absolute;
	padding: 3em;
}

@keyframes zotwave_title {
	0% {
		top: 0px;
		bottom: 0px;
		left: 20px;
		right: 0px;
	}
	50% {
		top: 15px;
		bottom: 0px;
		left: 20pxpx;
		right: 20px;
	}
	100% {
		top: 0px;
		bottom: 0px;
		left: 20px;
		right: 0px;
	}
}

p {
	font-size: 40px;
	position: fixed;
	right: 732px;
	bottom: 140px;
}

wdata {
	font-size: 55px;
	font-weight: bold;
	color: rgba(0, 0, 0);
	position: absolute;
	bottom: 730px;
	left: 835px;
	text-decoration: underline;
}

atemp {
	font-size: 45px;
	font-weight: normal;
	color: rgba(0, 0, 0);
	position: absolute;
	bottom: 650px;
	right: 100px;
}

weewee {
	font-size: 40px;
	font-weight: normal;
	color: rgba(0, 0, 0);
	position: absolute;
	bottom: 590px;
	right: 70px;
}

.cookie {
	background-image: url(./src/assets/suns3.svg);
	background-repeat: repeat;
	background-size: cover;
}

woohoo {
	font-size: 40px;
	font-weight: normal;
	color: rgba(0, 0, 0);
	position: absolute;
	bottom: 490px;
	right: 450px;
}
